RewriteEngine On

# Cek apakah koneksi dari luar (Cloudflare) sudah HTTPS atau belum
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} !^/thunder-hoops/api/ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]